<launch>
  <rosparam file="$(find ndt_localization)/params/global.yaml" command="load" />

  <include file="$(find common)/launch/static_tf.launch" />

  <include file="$(find odom_imu)/launch/odom_imu.launch" />

  <node pkg="ndt_localization" type="ndt_localization_node" name="ndt_localization_node" output="screen">
    <rosparam file="$(find ndt_localization)/params/test.yaml" />
    <param name="latest_poses_path" value="$(find ndt_localization)/params/latest_poses.yaml" />
    <param name="keypose_path" value="$(find bag_file)/pcd/pose3d_1557902692.pcd" />
    <param name="keyframes_path" value="$(find bag_file)/pcd/frames_no_ground_1557902692.pcd" />
    <!--remap from="/lslidar_point_cloud" to="/points_no_ground" /-->
  </node>

  <include file="$(find ray_ground_filter)/launch/ray_ground_filter.launch" />

  <node pkg="map_server" type="map_server" name="map_server" args="$(find static_map)/map_file/robo_0529.yaml" />

  <node pkg="gen_costmap" type="gen_costmap" name="local_costmap_node" output="screen">
    <remap from="/lslidar_point_cloud" to="/points_no_ground" />
    <remap from="/global_costmap" to="/map" />
    <rosparam file="$(find gen_costmap)/cfg/gen_costmap.yaml" command="load" />
  </node>
</launch>
